
    <!-- Tech Stack -->

    <section class="colored-section">  
      <div>
        <div id="Contact" class="contact-me">
          <h1 class="big-headingServ1">Try us!</h1>
          <img class="Tech-logo" src="images/Products/html-5.png" alt="HTML 5">
          <img class="Tech-logo" src="images/Products/JavaScript.png" alt="JavaScript">
          <img class="Tech-logo" src="images/Products/React.png" alt="React">
          <img class="Tech-logo" src="images/Products/bootstrap.png" alt="Bootstrap">
          <img class="Tech-logo" src="images/Products/CSS.png" alt="Cascading stylesheet">
          <h3 class="subheading1Serv">Contact us with your requirements.</h3>
          <a type="button" href="/Contact" class="btn btn-primary">Contact us</a>
        </div>
          
        </div>
         <!-- Footer -->  
    <footer id="footer">
      <div class="container-fluid">
        <% function getDate() {%>
          <%let date = new Date()%>
          <%return date.getFullYear();%>
        <%} %> 
        <p class="card-aboutUs">© Copyright <%=getDate()%> Absolute Online</p>
      </div>
     
    </footer>
      </section>
</body>
</html>
<!-- This is a partial of the footer present on all documnets -->