
  <%- include("./Partials/Header") %>
  <title>Absolute Online &#8211; About</title>
  <!--Absolute SEO*-->
  <meta name="description" content="A mission to create cost-effective yet powerful apps, a goal to equip SME's with the tools they need to expand, and the goal of guaranteeing that small companies may prosper and improve their brand awareness by being multi-platform enterprises. We're a tiny business that wants to reinvent every business model.">
  <meta name="keywords" content="Web design, Database development, API integrations, Websites, Website development, Google analytics, SEO, Search engine optimization">
  <meta name="robots" content="index, follow" />
 <!--Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-214016625-1');
</script>
</head>

<body>

		 <!-- Title -->
	<section class="colored-section-t" id="title">
    
     <!-- Nav Bar -->
     <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/About">A.O</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="/Home">Home</a><!-- need to configure home link -->
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/Services" >Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/About">About</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/Contact" >Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 
    <div class="container-fluid">
		  <div class="row r-t">
			<div class="col-lg-12 col-md-12 title-content">
        <div class="title-container"> 
          <P class="subheading1">LEARN MORE ABOUT US.</P>
          <h1 class="big-heading">About Absolute Online.</h1>
          <P class="subheading">A mission to create cost-effective yet powerful apps, a goal to equip SME's with the tools they need to expand, and the goal of guaranteeing that small companies may prosper and improve their brand awareness by being multi-platform enterprises. We're a tiny business that wants to reinvent every business model.</P>
          <a type="button" href="#learn" class="btn btn-primary">learn more</a>
        </div>			 
			</div>
		  </div>
		</div>
	  </section>
    <section class="colored-section" id="learn">
      
      <div style="text-align:Left" class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="card c-about">
            <div class="card-body">
              <h1 class="big-headingServ1">Who are we?</h1>
              <p class="subheadingServ" style="color:#F0E7E1; font-size: 1.1rem">
                Absolute Online is a fully virtual business that aims to empower existing physical businesses to be connected online. We aim to take standard SME's or startup businesses to new heights by potentially unlocking a new source of business for small companies across South Africa, by allowing these businesses to take advantage of tools that are available online.
                </p><p class="subheadingServ"  style="color:#F0E7E1; font-size: 1.1rem">
                We want our potential clients to grow and mature with us, by offering a strong support system, creating powerful and memorable branding, allow our clients businesses to scale according to demand and finally try to ensure that our clients businesses are always up to date in terms of the latest technology available. Our main target audience is SME's and startup companies as we see a huge gap between big corparates and our small startup companies. We aim to be the bridge that moulds and creates a powerful model that our clients can look forward to in order to improve their businesses.
              </p><p class="subheadingServ"  style="color:#F0E7E1; font-size: 1.1rem">
                We aim to establish our selves not only as a web development company, but also as a brilliant app development company that builds a strong marketing solution for its clients.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card bg-transparent">
            <div class="card-body">
              <form style="color:#F0E7E1;" class="aboutEmail"action="mail" method="post">
                <h1  class="big-headingServ2">Email us:</h1>
                <div class="mb-3">
                  
                  <div id="emailHelp" class="form-text">Send us your Query and we will respond back to you.</div>
                  <br/>
                  <label for="FormControlInput1" class="form-label"><strong>Email address:</strong> </label>
                  <input name="MailAddress" type="email" class="form-control" id="FormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                  <label for="FormControlInput2" class="form-label"><strong>Name & Subject:</strong></label>
                  <input name="MailSubject" type="text" class="form-control" id="FormControlInput2" placeholder="Name: Subject">
                </div>
                <div class="mb-3">
                  <label for="FormControlTextarea1" class="form-label"><strong>Message:</strong></label>
                  <textarea name="Mailbody" class="form-control" id="FormControlTextarea1" rows="4"></textarea>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
 <!-- Footer -->
 <%- include("./Partials/footer") %>
