
  <%- include("./Partials/Header") %>
  <title>Optimize prime &#8211; Home</title>
<!--Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-214016625-1">
</script>
</head>

<body>

		 <!-- Title -->
	<section class="colored-section-t" id="title">
    
     <!-- Nav Bar -->
     <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/About">A.O</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " href="/Home">Home</a><!-- need to configure home link -->
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/Services" >Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 

  <!-- About section -->
  <section class="white-section">
    <div class="container-fluid">
      <h3 class="subheading1Serv">Optimize Prime Searcher</h3>
          <h1 class="big-headingServ1">What is your query?</h1>
        <div class="row philCard DatabaseContent">
          <div class="col-md-4 col-sm-12">
            <form  method="POST"  autocomplete="off">
             
                <div class="mb-3">
                  <!-- This i a input for tex -->
                  <label for="itemNae" class="form-label">Input raw Tex</label>
                  <input type="text" class="form-control" id="itemNae" name="RawTex" placeholder="Light">
                </div>
                <!-- This i a input for Mathml -->
                <div class="mb-3 form-group">
                  <label for="exampleFormControlTextarea3">Input raw Mathml</label>
                  <textarea class="form-control" id="exampleFormControlTextarea3"  name="RawMathml" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-warning" formaction="/RawTex">Search Tex</button>
                <button type="submit" class="btn btn-primary" formaction="/RawMathml">Search MathML</button>
              </form>
          </div>
          <!-- this is where we render the result from the backend -->
          <div class="col-md-8 col-sm-12 mt-3 rounded">
            <%- result %>
          </div>
          </div>
        </div>
      </div>
  </section>
 
  <%- include("./Partials/footer") %>
